html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}
.jumbotron {
      position: relative;
      overflow: hidden;
      display: block;
      padding: 0;
      margin-bottom: 0;
      background-color: #f0f0f0;
}
.header {
      width: 100%;
      height: 110px;
      position: fixed;
      top: 0;
      z-index: 3;
      transition: all ease .5s;


}
.menu{
      margin-right: 120px;
}
.header.transparent-light {
      background-color: transparent;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
.full-vh {
      height: 100vh;
}
.jumbotron .inner {
      position: relative;
      z-index: 2;
}
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
      transition: all ease .5s;
}

nav {
      position: fixed;
      width: 100%;
      z-index: 3;
      transition: all ease .5s;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: all ease .5s;
}

.header.black {
      background: #000;
      height: 60px !important;
      transition: all ease .5s;
}

.header.black nav a{
      margin-top: 0;
      transition: all ease .5s;
}
ul>li, ol>li {
      padding-left: 3px;
      line-height: 24px;
      transition: all ease .5s;
}
.header li>a:before {
      color: #000;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      max-width: 0;
      white-space: pre;
      line-height: inherit;
      content: attr(data-text);
      -webkit-transition: max-width .5s;
      transition: all ease .5s;
    
}
nav ul li {
      display: inline-block;
      list-style: none;
      font-size: 13px;
      margin-right: 12px;
      vertical-align: middle;
}

.menu>ul>li>a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      position: relative;
      text-transform: uppercase;
      font-family: montserrat;
      padding-right: 21px;
      display: block;
      margin right: 50px;
      margin-top: 30px;
      transition: all ease .5s;

}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}
.swiper-container {
      width: 100%;
      height: 100%;
    }

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: #fff;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      overflow: hidden;
}
.swiper-wrappers {
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
}

.full-width {
      width: 100%;
}
.full-height {
      height: 100%!important;
}

.swiper-container {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      z-index: 1;
}
.swiper-container .slide-1 .ipad,.swiper-container .slide-3 .ipad{
      left: 50%;
      margin-left: -280px;
      position: absolute;
      bottom: -170px;
}
.swiper-container .slide-2 .ipad {
      margin-left: -280px;
      position: absolute;
      bottom: -350px;
      left: 50%;
}

.lazy.loaded {
      opacity: 1;
}
.lazy {
      opacity: 0;
      -webkit-transition: opacity .3s ease;
      transition: opacity .3s ease;
}
.swiper-container .slide-2 .bg-elements, .swiper-container .slide-3 .bg-elements {
      margin-left: -622px;
}
.swiper-container .bg-elements {
      left: 50%;
      position: absolute;
      -webkit-transform: translateZ(0);
      margin-left: -707px;
      top: 50%;
      margin-top: -300px;
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
}
.content-layer{
      background-color: transparent;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      overflow: hidden;
}
.container-xs-height{
      padding-left: : 0;
      width: 100%;
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
    
}
.text-center {
      text-align: center!important;
}
.col-middle {
      vertical-align: middle;
}

.col-xs-height {
      display: table-cell;
      float: none;
}
.p-b-90 {
      padding-bottom: 90px!important;
}
.jumbotron h1 {
      font-size: 44px;
      color: #2c2c2c;
}
h1 {
      font-size: 44px;
      line-height: 55px;
      letter-spacing: -.009em;
}
h1, h2, h3, h4, h5, h6 {
      margin: 10px 0;
      font-family: open sans,sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      font-weight: 300;
      color: #2c2c2c;
}
.swiper-container .bg-image {
      background-size: auto auto;
}
[data-pages-bg-image]>.bg-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: .4;
}
.bg-overlay {
      -webkit-transition: opacity .3s ease;
      transition: opacity .3s ease;
}
.text-white {
      color: #fff!important;
}.swiper-button{
      width: 47px;
      height: 53px;
      line-height: 53px;
      background-image: none;
      font-size: 20px;
      font-family: pages-icon;
      text-align: center;
}
p{
      display: block;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: .01em;
      line-height: 25px;
      margin: 0 0 10px;
      font-style: normal;
      white-space: normal;
}
.block-title {
    font-family: montserrat;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .03em;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-50 {
    margin-top: 50px;
}
.progress-bar:before{
      content: '';
      width: 0%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -2;
      background: #345;
}
.progress-bar:after{
      content: '';
      width: 0%;
      position: absolute;
      left: 0;
      top: 0;
      transition: 0.8s;
      display:block;
      animation: animate 1 4s;
      z-index: -1;
      background:#000;
}
.progress-bar-1, .progress-bar-2,.progress-bar-3:after{
      max-width: 079%;
}
@keyframes animate{
      0%{
            width: 0;
      }
      100%{
            width: 100%;
      }
} 

.header .menu>li>a {
    position: relative;
    text-transform: uppercase;
    font-family: montserrat;
    padding-right: 21px;
    display: block;
}

a, a:focus, a:hover, a:active {
    outline: 0!important;
    text-decoration: none;
    color: #fff;
}
.menu>li>a {
    padding: 10px 20px;
    display: block;
    line-height: 2;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.header a:hover{
      color:#33747a ;
}
.header>li{
      display:inline-block;
      vertical-align:top;
      margin-left:-4px;
} 
.header>li>ul{
      text-align:left;
      display:none;
      background:#e3e3e3;
      position:absolute;
      top:100%;
      left:0;
      width:240px;
      z-index:999999
}
.header>li>ul a{
      color:#555555 ;
}
.header>li>ul>li>ul{
      text-align:left;
      display:none;
      background:#e3e3e3;
      position:absolute;
      left:100%;
      width:240px;
      top:0;
      z-index:9999999;
}
.header ul ul li a:hover,.header ul li a:hover{
      color:#BDBDBD;
}
.header ul ul li a{
      transition: all .15s;
}
.header .mega{
    text-align: left;
    display: none;
    background: #fff;
    position: absolute;
    padding: 50px;
    top: 100%;
    left: 20%;
    width: 65%;
    z-index: 999999
}
.header .mega ul {
      text-align: left;
}
.header .mega ul li{
      display: block;
      line-height: 30px;
}
.header .mega ul li a{
      padding: 0;
      margin: 0;
      font-size: 15px;
      display: block;
      color: #757575;
}
.header .mega  h6{
      color: #000;
      font-size: 13px;
      text-transform: uppercase;
      font-family: montserrat;
      margin: 0;
      padding-bottom: 20px;
      text-align: left;
      padding-left: 43px; 
}
.display-submenu{
      display: block;
}

